.outter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; 
    font-family: 'Red Rose', serif; 
    height: 595px; 
}

.container {        
    margin: 0 auto;
    margin-top: 8vh; 
    width: 488px;
    height: 356px;
    border-radius: 3px;    
    background-color: #fff;
    border: .7px solid rgba(255, 255, 255, .2);  
    color: #000;
}

.intro-text {
    width: 100%;
    height: 60px;    
    font-size: 1.2rem;
    color: #000;
    text-align: center;
}

.user-icon img {
    width: 15%;    
}

.username-input input,
.password-input input {
    width: 300px;
    height: 40px;
    margin: 8px;
    padding-left: 10px;
    background: #EAE8E8;
    color: #006CB7;
    outline: none;  
    border: 2px solid rgb(196, 196, 196);
    font-family: 'Red Rose', serif;
    font-size: 1.2rem;        
}

input::placeholder {
    color: #006CB7;
    text-align: center;
}

.btn-box button {
    width: 315px;
    height: 40px;
    background: #006CB7;
    color: #fff;
    margin: 40px 8px 8px 8px;
    border: none;
    outline: none;
    font-family: 'Red Rose', serif;
    font-size: 1.2rem;
}

.registro-div {
    margin-top: 40px;
    color: #fff;
}

.registrate {
    margin-top: 20px;
}

.registrate button {
    color: #fff;
    background: transparent;
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: none;
}

button:hover {
    cursor: pointer;
}
