.navbar {
    display: flex;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
}
.navbar a {
    color: #fff;
}

.autenticacion {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
}
.my-logo {
    flex-basis: 50%;
    text-align: left;
    text-decoration: none;
    margin-left: 50px;
    font-size: 1.2rem;
}

.my-logo {
    margin-top: 3px;
}
.autenticacion a,
.autenticacion img {
    margin-right: 25px;
    text-decoration: none;
}
.autenticacion a h2 {
    margin-top: 14px;
    font-size: 1rem;
}
.autenticacion img {
    width: 7%;
}